.footer{
  position: relative;
  bottom: 0px;
  left: 0px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(55, 54, 54, 0.549) 85.94%
  );
  text-align: center;
  margin-top: 50px;
  padding: 20px  0px;
}

.footerTop{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}
.footerMenu{
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 400;
  gap: 30px;
}

.footerMenuItem,.footerItemIcon{
  cursor: pointer;
}

.footer hr{
  margin: 40px auto;
  width: 80%;
  border: 1px solid rgb(61, 61, 61);

}

.footerItemIcon{
  width: 40px;
  height: 40px;
  margin: 10px 25px 40px 25px;
}

.footerBy{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}

.footerCopyIcon{
  margin: 0px 10px;
}

@media screen and (max-width: 750px){

  .footerTop{
      flex-direction: column;
      gap: 20px;
  }

}